*~
*#
.DS_Store
.DS_STORE
.netbeans
nbproject
.idea
*.iml
.vscode
.node_history
dump.rdb

code/node_modules
code/npm-debug.log
code/*.seed
code/*.log
code/*.out
code/*.pid

dags/code_root_venv
dags/__pycache__/
